.favourite-heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: rgba(255, 0, 0, 1);
}

.hover-heart {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.4);
}

.image-container:hover .hover-heart {
  display: block;
}